[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
channels = "*"
moviepy = "*"
celery = "*"
redis = "*"
drf-yasg = "*"
django-cors-headers = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
ffmpeg-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
